<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
</head>

<body>
    <header>
        <h1>Home</h1>
    </header>
    <main>
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis sint quam vel animi dolores harum
            possimus
            consectetur, ut doloremque debitis facere quod reiciendis voluptate nesciunt dolor fugiat rem. Eos, cum!
        </h2>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rerum illum maxime harum. Placeat a,
            voluptatem
            aut ipsum magni commodi, in consequuntur, rerum molestiae dolores maiores consectetur repudiandae illo!
            Quae.
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rerum illum maxime harum. Placeat a,
            voluptatem
            aut ipsum magni commodi, in consequuntur, rerum molestiae dolores maiores consectetur repudiandae illo!
            Quae.
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rerum illum maxime harum. Placeat a,
            voluptatem
            aut ipsum magni commodi, in consequuntur, rerum molestiae dolores maiores consectetur repudiandae illo!
            Quae.
        </p>
    </main>
    <footer>
        <nav><a href="products">PRODUCTOS</a></nav>
    </footer>
</body>

</html>